<nav class="navbar navbar-light fst-italic" style="background-color: #e3f2fd;">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <h1 class="display-6  text-secondary fw-bold">AIRPLANE RESERVATION SYSTEM</h1>
        </a>
    </div>
</nav>
<div style="margin-top: 150px;">
    <div class="container">
        <form method="post" action="/">

            <div class="mb-3">
                <label for="formGroupExampleInput" class="form-label">
                    <h4>ID</h4>
                </label>
                <input name="user_id" type="text" class="form-control" id="formGroupExampleInput" placeholder="ID">
            </div>
            <div class="mb-3">
                <label for="formGroupExampleInput2" class="form-label">
                    <h4>PASSWORD</h4>
                </label>
                <input name="user_password" type="password" class="form-control" id="formGroupExampleInput2" placeholder="PASSWORD">
            </div>
            <div class="d-grid gap-2 col-6 mx-auto">
                <button class="btn btn-primary" type="submit">로그인</button>
            </div>
        </form>
    </div>
</div>